
* {
    margin: 0px;
}


.card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: lightblue ;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.Home-Page {
    background-image: url(./assets/AdobeStock_201000201.jpeg);
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    background-position: top;
}